<div class="basic">
  <h1>Thank your submitting a recommendation</h1>
  <table>
    <tr>
      <th>Grader First Name</th>
      <th>Last Name</th>
      <th>Dot Number</th>
      <th>Class</th>
    </tr>

    <tr>
      <td><%= @recommendation.firstname %></td>
      <td><%= @recommendation.lastname %></td>
      <td><%= @recommendation.dotnumber %></td>
      <td><%= @recommendation.class_id %></td>
    </tr>
  </table>
</div>