#devise .field{
  background-color: #bb0000;
  text-align:center;
  color: white;
}

#devise .actions{
  background-color: #bb0000;
  color: white;
  text-align:center;
}
#devise *{
  background-color: #bb0000;
  text-align:center;
  color:white;
}
#devise .text{
  color: white;
}

#devise h2{
  background-color: #bb0000;
  text-align: center;
}

#devise .style_logo{
  display:block;
  height: 15%;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  image-rendering: high-quality;
}
#devise a{
  background-color: #bb0000;
  color: white;
  text-align: center;
}


